.olControlLayerSwitcher .layersDiv {
    background-color: #000000;
    height: 100%;
    padding: 5px 75px 5px 10px;
    width: 100%;
}

.olLayerGoogleCopyright {
    display: none;
}

.olHandlerBoxZoomBox {
    border-color: #86fe00;
    background-color: #cbefa3;
}

/* style for the zoom box */
/* defaults for now
.olHandlerBoxZoomBox {
  border: 2px solid red !important;
  position: absolute;
  background-color: white !important;
  opacity: 0.50 !important;
  font-size: 1px;
  filter: alpha(opacity=50) !important;
}
*/

/* style for the feature selection box */
.olHandlerBoxSelectFeature {
    border: 2px solid #86fe00 !important;
    position: absolute;
    background-color: #cbefa3 !important;
    opacity: 0.60 !important;
    font-size: 1px;
    filter: alpha(opacity=60) !important;
}

.olMap #featurePopup {
    overflow: visible !important;
}

.olMap #featurePopup_contentDiv {
    overflow: visible !important;
}

.olMap #featurePopup_GroupDiv {
    overflow: visible !important;
}

.olMap #featurePopup .olPopupContent .pentaho-rounded-panel {
    white-space: nowrap;
}

#map_nav {
    padding: 0px;
    position: absolute;
    z-index: 2010;
    width: 60px;
    top: 8px;
    left: 10px;
    display: block;
}

#pan_controls {
    padding: 2px;
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid rgba(44, 44, 44, 0.2) !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0px 3px 6px 3px rgba(00, 00, 00, .2);
    -webkit-box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .2);
    box-shadow: rgb(51, 51, 51) 1px 1px 5px 0px, rgba(255, 255, 255, 0.8) 0px 0px 1px 1px inset;
}

.IE #pan_controls {
    background: transparent;
    background: url('../legacy/web/images/pan_bg.png') no-repeat;
    padding: 0px 0 0 0;
    margin: -5px 0 4px -4px;
    border: 0;
    width: 60px;
    height: 60px;
    left: 0px;
}

#pan_up {
    position: absolute;
    top: 6px;
    left: 16px;
    height: 16px;
    width: 18px;
    display: block;
}

#pan_left {
    position: absolute;
    top: 17px;
    left: 5px;
    height: 18px;
    width: 16px;
    display: block;
}

#pan_right {
    position: absolute;
    top: 17px;
    left: 29px;
    height: 18px;
    width: 16px;
    display: block;
}

#pan_center {
    position: absolute;
    top: 19px;
    left: 19px;
    height: 12px;
    width: 12px;
    display: block;
}

#pan_down {
    position: absolute;
    top: 29px;
    left: 16px;
    height: 18px;
    width: 16px;
    display: block;
}

#control_container {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 1px solid #242424;
    box-shadow: rgb(51, 51, 51) 1px 1px 5px 0px, rgba(255, 255, 255, 0) 0px 0px 1px 1px inset;
    display: block;
    width: 36px;
    height: 112px;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 55px;
    left: 6px;
}

.IE #control_container {
    background: url('../legacy/web/images/container_bg.png') no-repeat;
    padding: 0px 0 0 0;
    margin: -9px 0 0 0;
    border: 0;
    width: 48px;
    height: 122px;
    left: 2px;
    top: 60px;
}

#map_controls {
    width: 31px;
    height: 84px;
    position: absolute;
    top: 55px;
    left: 6px;
    padding: 8px 4px 0 4px;
}

/* Fix for ANALYZER-1094 */
.MapLeftOverride {
    left: 0px !important;
}

.olImageLoadError {
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}

/* Styles for new hover function on zoom controls */

#geo_zoomout:hover {
    background: url('images/btn-map-zoom-out-hover.png');
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    display: block;
    padding-left: 23px;
}

#geo_zoomin:hover {
    background: url('images/btn-map-zoom-in-hover.png');
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    display: block;
    padding-left: 23px;
}

#geo_zoommode:hover {
    background: url('images/btn-map-drag-zoom-in-on.png');
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    display: block;
    padding-left: 23px;
}

#geo_polymode:hover {
    background: url('images/btn-map-drag-select-on.png');
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    display: block;
    padding-left: 23px;
}
