/*!
 * HITACHI VANTARA PROPRIETARY AND CONFIDENTIAL
 *
 * Copyright 2002 - 2017 Hitachi Vantara. All rights reserved.
 *
 * NOTICE: All information including source code contained herein is, and
 * remains the sole property of Hitachi Vantara and its licensors. The intellectual
 * and technical concepts contained herein are proprietary and confidential
 * to, and are trade secrets of Hitachi Vantara and may be covered by U.S. and foreign
 * patents, or patents in process, and are protected by trade secret and
 * copyright laws. The receipt or possession of this source code and/or related
 * information does not convey or imply any rights to reproduce, disclose or
 * distribute its contents, or to manufacture, use, or sell anything that it
 * may describe, in whole or in part. Any reproduction, modification, distribution,
 * or public display of this information without the express written authorization
 * from Hitachi Vantara is strictly prohibited and in violation of applicable laws and
 * international treaties. Access to the source code contained herein is strictly
 * prohibited to anyone except those individuals and entities who have executed
 * confidentiality and non-disclosure agreements or other agreements with Hitachi Vantara,
 * explicitly covering such access.
 */

/****************** START OF FONT DEFINITONS ***************************************/
/**
 * 84.5% for !IE, keywords for IE
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE < 6 and IE6 quirks mode.
 */
body {-webkit-text-size-adjust: 125%}
table {font-size:inherit;font:100%;}

/**
 * 99% for safari; 100% is too large
 */
select, input, textarea {font-size:1em;}

/**
 * Bump up !IE to get to 13px equivalent
 */
pre, code {font:1.1em monospace;*font-size:100%;}

/**
 * Default line-height based on font-size rather than "computed-value"
 * see: http://www.w3.org/TR/CSS21/visudet.html#line-height
 */
body * {}

body, html { width:100%; height:100%; margin:0; padding:0; overflow:hidden; }

/* Font sizes (px vs. percentage)
	11 	85
	12 	92
	13 	100
	14 	107
	15 	114
	16 	122
	17 	129
	18 	136
	19 	144
	20 	152
	21 	159
	22 	167
	23 	174
	24 	182
	25 	189
	26 	197
*/
/****************** END OF FONT DEFINITONS ***************************************/

/* Common ClearView CSS shared by all pages.  Include header, content and footer. */
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

div,table,tr,td {
	margin: 0;
	padding: 0;
}

/* Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/* Text headers and label styles */
a, a:link {
 	color:#e17b03;
}

a img {
	border: 0px;
}

A.appCmdLink {
	color: #e17b03;
}

A.appCmdLink:hover {
	color: #e17b03;
}


h1,h2,h3,h4,p {
	margin: 0;
}

/* Header */

.header {
	width: 100%;
	height: 50px;
	background: url(../images/banner_bg.gif) top left repeat-y;
	background-color: #656565;
	vertical-align: bottom;
}

.header IMG {
	float: left;
	border-right: none;
}

/* Top level navigation bar */
#navBar {
	margin: 15px 0 0 17px;
	list-style: none;
	float: left;
	padding: 0;
}

#navBar LI {
	display: block;
	float: left;
	line-height: 2em;
	font-size: 122%;
}

#navBar A {
	vertical-align: bottom;
	display: block;
	color: rgb(213,213,213);
	padding: 10px 15px 0px 7px;
	text-decoration: none;
	font-family: arial, helvetica, clean, sans-serif;
	font-weight: bold;
	font-size: 107%;
}

#navBar A:hover {
	color: rgb(236,236,236);
}

#navBar A.current {
	padding-top: 4px;
	color: rgb(255,238,171);
	font-size: 144%;
}

#navBar A.current:hover {
	color: rgb(255,238,171);
	cursor: default;
}

#personalizationContainer {
	float: right;
	margin: 29px 20px 0 0;
	color: rgb(208,208,208);
	font-size: 85%;
}

#personalizationContainer a, #personalizationContainer a:visited {
	text-decoration: none;
	color: rgb(224,224,224);
}

#personalizationContainer a:hover {
	text-decoration: underline;
}

#impersonationMessage {
	background-color: #FFCC00;
	color: #000;
	font-size: 85%;
	text-align: center;
	position: absolute;
	left: 0px;
	overflow-x: hidden;
	width: 160px;
	margin-bottom: 2px;
	padding: 3px;
}

/* Footer */
#footer {
	padding: 5px;
}

#footer a {
	color: #fff;
}

/* Welcome Box */

div#loginTable {
	background: #EEEEEE;
	border: 1px solid #C0C0C0;
	color: inherit;
	margin: 10px 0px;
	padding: 5px;
	width: 400px;
}

div#loginTable th {
	text-align: right;
}

/* Form control styles */
input.button {
	color: #000;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
	margin-left: 6px;
}

input.button { /* fix button size in IE */
	line-height: 17px;
}


form input.focus,form textarea.focus {
	border-color: #7395c1;
	color: #000;
}

form select {
	padding-left: 0px;
}

/* Labels for validation and label tag */
label {
	font-weight: normal;
	cursor: pointer;
}

label.required {
	font-weight: bold;
}

input.checkbox {
	margin-left:0px;
}

label.error {
	font-weight: bold;
	background: transparent;
	color: red;
}

/* Misc */
.hidden {
	display: none !important;
}

h1#clearView {
	padding-top: 16px;
	color: #7395C1;
}

/* for Collapsible folder */
.folderClose {
    background: url(../images/folder_closed.gif) white center left no-repeat;
}

.folderOpen {
    background: url(../images/folder_opened.gif) white center left no-repeat;
}

/* Styles used by JSF messages */
#successMessages, #errorMessages {
	border:1px #c8c7c7 solid;
	background-color: rgb(255,249,221);
	padding: 10px;
	font-weight: bold;
	margin-bottom: 20px;
}

.fieldError {
	margin-left:5px;
	padding: 5px 10px;
	color: #ff3333;
	font-weight:normal;
}

.profileFieldError {
    padding: 5px 10px 5px 0px;
    color: #ff3333;
    font-weight:normal;
}

.errorBox {
    background: #ffffdd;
    border: 1px solid #999999;
    color: #000000;
    padding: 2px 5px;
    font-size: 107%;
}

#exception {
	width:600px;
	margin-right:auto;
	margin-left:auto;
	background-color:#ddd;
	border:5px solid #999;
	padding:20px;
}

#exception IMG.exceptionMsgIcon {
	vertical-align: top;
	float: left;
	padding-right: 10px;
}

#exception .exceptionMsgText {
	margin-left: 60px;
	font-size: 122%;
}

.helpIcon {
	width: 16px;
	height: 16px;
	cursor: pointer;
  background: url('../images/help_link.png') no-repeat;
}

#standardDialog .standardDialogFooter .helpIcon {
	padding-left: 20px;
}

/* Terms and Conditions */

.legal {
	width: 100%;
}

.legal tr {
	text-align: center;
}

.legal .legalButtons {
	padding-top:15px;
}

.dijitTooltip{
    background-color: #dddddd;
    padding: 4px;
    border: 1px solid #808080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.dijitTooltipContainer {
    border:none !important;
    background-color: #dddddd !important;
}

/* common menu styles */
.pentaho-menu .pentaho-menuitem img.dijitMenuItemIcon {
  width: 11px;
  height: 10px;
  padding-right: 3px;
  margin-left: 5px;
}

.pentaho-menu .pentaho-menuitem {
  height: 25px;
}

.pentaho-menu .pentaho-menuitem .dijitMenuItemLabel {
  font-size: 11px;
}
.pentaho-menu .pentaho-menuitem .dijitMenuArrowCell {
  padding-left: 3px;
}
.pentaho-menuitem span.dijitMenuExpand {
  width: 5px;
  height: 9px;
  background-image: url(../images/submenu_off.gif);
  background-position: center center;
  margin-right: 3px;
}

.pentaho-menu .pentaho-menuitem span.checked {
  background: url("../images/checkmark.png") no-repeat center center;
}

.pentaho-menu .pentaho-menuitem span.no-checked {
  background: url("../images/spacer.png") no-repeat center center;
}

.pentaho-menu.dijitMenuTable {
  border-collapse: separate;
}

/* ANALYZER-1152 */
.IE #theDialog {
  position: fixed !important;
}

#chartBtnWrapper {
  position: absolute;
  right: 10px;
  top: 8px;
}
#chartBtnWrapper .reportViewAs {
  color: white;
  float:right;
  padding-top:2px;
  padding-right:10px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.refresh-icon {
  background-image: url(../images/report/refreshing.gif);
  height: 16px; width: 16px;
  display: inline-block;
  float: left;
}

.spinner-icon {
  background-image: url(../images/indicator_circle_ball.gif);
  height: 16px; width: 16px;
  display: inline-block;
}

#RP_nameDiv {
  width: 360px;
}

#RP_name {
  font-weight: bold;
  width: 360px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#RP_closeDiv {
  padding-top:2px;
  text-align: right;
}
.RP_contentRow {
  vertical-align: top;
  padding-top:20px;
}
.RP_description {
  word-break:break-all;
  padding-left:10px;
  overflow:auto;
}
.RP_label {
  font-weight: bold;
  font-size:11px;
  text-align: right;
  padding-right: 5px;
}
#RP_folder {
  width:250px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.RP_labelValue {
  padding-left: 10px;
  font-size: 11px;
}
#RP_editDescTextArea TEXTAREA {
	width: 350px;
}
#rptDialog {
  width: 390px;
}
#rptDialog .dialog-content {
  width: 370px;
  overflow: hidden;
}
